<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jackson.monkey">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application>
        <activity android:name=".MatisseActivity"
            android:theme="@android:style/Theme.Translucent"/>
        <activity android:name=".ui.AlbumPreviewActivity"/>
        <activity android:name=".ui.SelectedPreviewActivity"/>
    </application>

</manifest>